<div class="container">    
  <h1 style="font-size: 3rem;">Doc Reconcile 📃</h1>  

  <p>clique abaixo e selecione a folha de comissão</p>

  <form class="row" id="greet-form">
    <input type="file" accept=".pdf" (change)="handleFileInput($event)">        
    <a class="button">Verificar documento</a>
  </form>
  
  <textarea disabled id="text-container" rows="5" cols="15">Clientes com valor errado:
    
  </textarea>
  
  <br>

  <div>
    <a href="https://jota5.com.br" target="_blank">
      <img src="/assets/icons/jota5.png" class="logo jota5" alt="Jota5 logo" />
    </a>
  </div>
</div>
