<div class="container">  
  <div class="background">    
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form>  
    <h3>Doc Reconcile</h3>

    <label for="username">Nome de usuário:</label>
    <input type="text" placeholder="nome de usuario" id="username">

    <label for="password">Senha:</label>
    <input type="password" placeholder="senha" id="password">

    <button (click)="login()">Log In</button>

    <div class="about">
      <div class="row">
        <a href="https://jota5.com.br" target="_blank">
          <img src="/assets/icons/jota5.png" class="logo jota5" alt="Jota5 logo" />
        </a>
  
      </div>
      <!-- <p>Desenvolvido pela equipe jota5</p> -->
    </div>
</form>

</div>